body {
  color: #303030;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.6;
}

.home-wrapper { 
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../images/background.jpg') center top;
  background-size: cover;
}

header {
  position: fixed;
  background: rgba(48, 48, 48, 0.6);
  padding: 10px 0;
  width: 100%;
}
header nav {
  float: right;
  margin-top: 10px;
}
header nav a {
  color: white;
  font-weight: bold;
  text-decoration: none;
  margin-left: 10px;
  margin-top: 5px;
  padding: 10px 15px;
  border-radius: 3px;
}
header nav a.active {
  background: #fed136;
}

section {
  clear: both;
  padding: 80px 0;
}
section h2 {
  color: #343A45;
  font-size: 32px;
  text-align: center;
  margin-bottom: 80px;
}

#home {
  color: white;
  text-align: center;
  padding: 200px 0 150px;
}
#home h1 {
  font-size: 68px;
  font-weight: normal;
  line-height: 1.2;
  margin-bottom: 40px;
}
#home .divider { 
  border-top: 5px solid #fed136; 
  width: 80px;
  margin: 0 auto;
}
#home p {
  margin: 0 20px;
  color: whitesmoke;
  font-size: 24px;
  padding: 40px 20px 0;
}
#home .social {
  margin-top: 80px;
}
#home .social a {
  display: inline-block;
  color: white;
  border-radius: 50%;
  background-color: #222;
  font-size: 24px;
  font-weight: bold;
  line-height: 50px;
  height: 50px;
  width: 50px;
  margin-right: 10px;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
}
#home .social a:hover, 
#home .social a:focus, 
#home .social a:active {
  background-color: #fed136; 
}

#servicios .box {
  display: inline-block;
  text-align: center;
  width: 300px;
  padding: 10px;
}
#servicios h3 {
  color: #343A45;
  font-size: 21px;
}

#portafolio { background: whitesmoke; }
#portafolio .box {
  display: inline-block;
  background: white;
  text-align: center;
  width: 296px;
  margin: 15px;
}
#portafolio .box img {
  width: 100%;
}
#portafolio .box h3 { margin: 10px 0;}
#portafolio .box p {
  color: #666;
  padding: 10px;
  margin-top: 0;
}

#contacto {
  background-color: #303030;
  background-image: url('../images/map-image.png');
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
}
#contacto h2 { color: white; }
#contacto input {
  padding: 20px; 
  width: 400px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
#contacto textarea {
  margin: 20px 0;
  padding: 20px;
  width: 400px;
}
#contacto button {
  background: #fed136;
  padding: 20px 40px;
  border-color: #fed136;
  border-radius: 3px;
  color: white;
  font-size: 18px;
  line-height: 1;
  font-weight: bold;

}

footer p {
  font-size: 18px;
  text-align: center;
  padding: 90px 0;
  margin: 0;
}

.container {
  width: 992px;
  margin: 0 auto;
}